/*
    1. Set up grid
    2. Set up side bar
    3. Finish sidebar interactive features
    4. Finish home page
    5. ~finish python sitemap auto-generation library and generate a basic sitemap :)
 */

.grid {
  display: grid;
  grid-template:
    [row1-start] "header header header header header" 1fr [row1-end]
    [row2-start] "sidebar . main . sidebar" 2fr [row2-end]
    [row3-start] "footer footer footer footer footer" 1fr [row3-end]
    / auto 10px 3fr 10px auto;
  grid-gap: 5px 5px;
}

#title {
  grid-area: row-start
}

body {
  background-color: gray;
}

#main {
  grid-area: main;
  background-image: url("../assets/img_remyszpuk.png");
}

.sidebar {
  grid-area: sidebar;
  background-color: black;
}

* {
  box-sizing: border-box;
}