/*
     TODO

    1. Set up grid
    2. Set up side bar
    3. Finish sidebar interactive features
    4. Finish home page
    5. ~finish python sitemap auto-generation library and generate a basic sitemap :)
 */

body {
  background-color: floralwhite;
}

.sidebar {
  grid-area: sidebar;
  background-color: black;
}

.grid {
  grid-template:
    [row1-start] "header header header header header" 1fr [row1-end]
    [row2-start] "sidebar . main . sidebar" 2fr [row2-end]
    [row3-start] "footer footer footer footer footer" 1fr [row3-end]
    / 1fr 1fr 3fr 1fr 1fr;
}